<!DOCTYPE html>
<title>Flask & VGG16 Image Classification</title>
<h2>Select a file to upload</h2>
  <p>
    {% with message = get_flashed_message() %}
      {% if messages %}
      Label: {{messages[0]}}
      Accuracy: {{messages[1]}}
      {% endif %}
    {% endwith %}
  </p>

  <form method="post" action="/" enctype="multipart/form-data">
    <dl>
      <p>
        <input type="file" name="file" autocomplete="off" required>
      </p>
    </dl>
    <p>
      <input type="submit" value="Submit File">
    </p>
  </form>